.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));

    &__title {

        h4 {
            color: $dark-grayish-blue;
            padding: 0 0 1.5rem;
        }

    }

    hr {
        border-top: solid .5px gray;
        margin-bottom: 1rem;

        @media only screen and (min-width: $mobile-width) {
            display: none;
        }
    }

    &__switcher {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        @media only screen and (min-width: $mobile-width) {
            justify-content: flex-end;

            label {
                cursor: pointer;
                margin-right: .5rem;
            }
        }
    }

    .switch {
        $frame-height: 22px;
        $frame-width: 42px;
        $slider-size: $frame-height - (3px * 2);
        cursor: pointer;
        position: relative;

        input {
            cursor: pointer;
            display: inline-block;
            height: 100%;
            opacity: 0;
            width: 100%;
            z-index: 3;
            position: absolute;

            &:checked + .switch__slider:before {
                background: $dark-desaturated-blue;
                margin-left: 0px;
            }

        }

        &__slider {
            background: $dark-theme-toggle;
            border-radius: 20px;
            height: $frame-height;
            width: $frame-width;

            &:before {
                content: '';
                background: #fff;
                border-radius: 50%;
                height: $slider-size;
                margin-left: $frame-width - $slider-size - 3px - 3px;
                transition: .3s;
                width: $slider-size;
                z-index: 2;
                position: absolute;
                top: 3px;
                bottom: 3px;
                left: 3px;
            }
        }
    }
}
