body {
    background-color: $white;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .container {
        margin: auto;
        max-width: 1000px;
        padding: 1.5rem;
    }

    // base text colors
    .text {
        &--gray { color: $dark-grayish-blue; }
        &--black { color: #000; }
        &--white { color: #fff; }
        &--green { color: $lime-green !important; }
        &--red { color: $bright-red !important; }

        &--bigger {
            font-size: 2rem;
            line-height: 100%;
        }

        &--big {
            font-size: 3rem;
            line-height: 100%;
        }
    }

    .align--left { text-align: left; }
    .align--right { text-align: right; }


    .attribution { font-size: 11px; margin-top: 3rem; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

