main { 

    &__title {
        margin-top: 3rem;
        color: $dark-grayish-blue;
    }

    .icon-text-center {
        padding: 1.5rem 0rem;

        svg {
            margin-right: .3rem;
            vertical-align: middle;
        }
    }

    .width--100 { width: 100%; }
    .flex {
        display: flex;
        justify-content: space-between;

        .mb-1 { margin-bottom: 1.5rem; }
        &--start { align-items: flex-start; }
        &--end { align-items: flex-end; }
    }

    .card {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        text-align: center;
        transition: .2s linear;
        width: 100%;

        .ribbon {
            &--facebook { border-top-color: $facebook; }
            &--twitter { border-top-color: $twitter; }
            &--instagram { border-image: $instagram; }
            &--youtube { border-top-color: $youtube; }
        }


        &__box {
            background-color: $very-pale-blue;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover { background-color: $light-grayish-blue; }
            
            &--large {
                border-radius: 4px;
                border-top-width: 4px;
                border-top-style: solid;
                overflow: hidden;
                position: relative;
            }

            &--small {
                border-radius: .4rem;
                display: flex;
                justify-content: space-between;
                padding: 1.5rem;
                position: static;

                svg { vertical-align: middle; }
                small { margin-left: .2rem; }
            }
        }

        &__followers small {
            font-weight: normal;
            letter-spacing: .3rem;
        }
    }
}
