main { 

    &__title {
        margin-top: 3rem;
        color: $dark-grayish-blue;
    }

    // icon with text center
    .icon-text-center {
        padding: 1.5rem 0rem;

        svg {
            margin-right: .3rem;
            vertical-align: middle;
        }
    }

    .row { width: 100%; }
    .flex {
        display: flex;
        justify-content: space-between;

        .mb-1 {
            margin-bottom: 1.5rem;
        }

        &--start {
            align-items: flex-start;
        }

        &--end {
            align-items: flex-end;
        }
    }

    .card {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        text-align: center;
        width: 100%;

        &__box {
            background-color: $light-grayish-blue;
            
            &--large {
                border-radius: 0px 0px .4rem .4rem;
                position: relative;
            }

            &--small {
                border-radius: .4rem;
                display: flex;
                justify-content: space-between;
                padding: 1.5rem;
                position: static;

                svg {
                    vertical-align: middle;
                }
                small {
                    margin-left: .2rem;
                }
            }
        }

        &__ribbon {
            border-radius: 10px 10px 0px 0px;
            height: 4px;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            &--facebook { background-color: $facebook; }
            &--twitter { background-color: $twitter; }
            &--instagram { background-image: $instagram; }
            &--youtube { background-color: $youtube; }
        }

        &__followers small {
            font-weight: normal;
            letter-spacing: .3rem;
        }
    }
}
